@import "tailwindcss";

.wrapper {
  @apply w-7xl  h-[50vh] lg:h-screen relative;

  img {
    @apply max-w-40 lg:max-w-[27rem]  object-cover object-center;
  }

  .p1 {
    @apply absolute bottom-1/2 left-[23%] z-[1] max-sm:left-[33%];
  }

  .p2 {
    @apply absolute bottom-[40%] right-[17%] z-[3] max-sm:right-[37%];
  }

  .p3 {
    @apply absolute bottom-1/4 right-[15%] z-[2] max-sm:right-[35%];
  }

  .p4 {
    @apply absolute bottom-[15%] right-[10%] z-[1] max-sm:right-[30%];
  }

  .p5 {
    @apply absolute bottom-[20%] left-1/2 -translate-x-1/2 scale-150;
  }

  .p6 {
    @apply absolute bottom-1/4 left-1/4 z-[2] max-sm:left-[35%];
  }

  .p7 {
    @apply absolute bottom-[5%] left-[15%] z-[3] max-sm:left-[35%];
  }
}

.box {
  @apply max-w-xs absolute;
}
